.background1 {
    -fx-background-color: linear-gradient(to bottom, rgb(122, 138, 154), rgb(0, 0, 0));
}

.background2 {
    -fx-background-image: url('../images/background2.png');
}

.background3 {
    -fx-background-image: url('../images/background3.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.background4 {
    -fx-background-image: url('../images/background4.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.picture_frame {
    -fx-background-image: url('../images/picture_frame.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.text-background {
    -fx-background-color: rgb(50, 50, 50, 0.9);
    -fx-border-color: rgb(169, 169, 169);
    -fx-background-radius: 10 10 10 10;
    -fx-border-radius: 10 10 10 10;
    -fx-text-fill: rgb(255, 255, 255);
    -fx-border-width: 2px;
}

.button-background2 {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-image: url('../images/button1.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.button-background3 {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-image: url('../images/button1.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.button-background2 {
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

.button-transparent {
    -fx-background-color: rgb(0, 0, 0, 0);
}


.background-effect1 {
    -fx-background-image: url('../images/torn_effect.png');
}

.profile-style {
    -fx-background-color: rgb(0, 0, 0, 0);
    -fx-border-radius: 10 10 10 10;
    -fx-border-width: 2px;
}